.btn-addItems {
    background: #ea393d !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.btn-addItems:hover {
    background: #563434 !important;
    color: aliceblue !important;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* DishImage */
.DishImage {
    padding: 10px;
    background: #ea393d;
    display: table;
    color: #fff;
    text-align: center;
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 15px 0px;
    border-radius: 30px;

}

.DishImage:hover {
    background: #563434;

}

.Image-dish {
    display: none;
}

.btn-create-dish {
    height: 45px;
    width: 100% !important;
    color: #fff;
    border-radius: 30px !important;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-add-dish-container {
    margin-top: 50px;
}

.table {
    margin-top: 100px;
}

.dish-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card-vendor-dishe {
    display: inline-block;
    margin: 20px;
}

.img-vendor-dishe {
    height: 270px;
    width: 340px !important;
    border-radius: 20px;
}

.card-content {
    width: 340px !important;
}