.account-page.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-container {
    background: white;
    width: 300px;
    max-height: 600px;
    min-height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 280px;
    padding: 0 20px;
    position: absolute;
    top: 80px;
    transition: transform 1s ease;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

label {
    padding: 10px;
    background: #ff523b;
    display: table;
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 15px 0px;
    border-radius: 30px;

}

label:hover {
    background: #563434;

}

#userImage {
    display: none;
}

form .acount-btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .acount-btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(102px);
    transition: transform 1s ease;
}

.acount-btn {
    display: inline-block;
    background: #ea393d;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: .5s ease;
}

.acount-btn:hover {
    background: #563434;
}